// Import Font (Opsional)
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Import Bootstrap (INI YANG WAJIB)
@import 'bootstrap/scss/bootstrap';

// Import Icons (Opsional)
@import 'bootstrap-icons/font/bootstrap-icons';