# --- SISTEM & IDE (Global) ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# --- DOCKER DATA (PENTING!) ---
# Kita wajib ignore ini agar database tidak ikut ke-upload ke Git
# Karena database itu berat dan datanya rahasia/lokal.
docker/mysql/data/